.memory-grid {
    display: grid;
    gap: 10px;
}

    .memory-grid[data-level="1"] {
        grid-template-columns: repeat(4, 100px);
    }

    .memory-grid[data-level="2"] {
        grid-template-columns: repeat(6, 100px);
    }

    .memory-grid[data-level="3"] {
        grid-template-columns: repeat(8, 100px);
    }

.memory-card {
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 800px;
    cursor: pointer;
}

    .memory-card .front,
    .memory-card .back {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 0.5s ease;
    }

    /* Parte frontal (imagen oculta inicialmente) */
    .memory-card .front {
        transform: rotateY(180deg);
    }

    /* Parte trasera */
    .memory-card .back {
        background-color: #777;
        transform: rotateY(0deg);
    }

    /* CUANDO SE VOLTEA */
    .memory-card.flip .front {
        transform: rotateY(0deg);
    }

    .memory-card.flip .back {
        transform: rotateY(180deg);
    }
