<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Tasks" asp-action="Index">
                <i class="bi bi-list-task"></i>
                <span>Lista Tareas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Tip" asp-action="Index">
                <i class="bi bi-calculator"></i>
                <span>Calculadora de Propinas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="PasswordGenerator" asp-action="Index">
                <i class="bi bi-shield-lock"></i>
                <span>Generador de Contraseñas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Expense" asp-action="Index">
                <i class="bi bi-cash-stack"></i>
                <span>Gestor de Gastos</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Reservation" asp-action="Index">
                <i class="bi bi-calendar-check"></i>
                <span>Reservas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Notes" asp-action="Index">
                <i class="bi bi-journal-text"></i>
                <span>Notas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="EventCalendar" asp-action="Index">
                <i class="bi bi-calendar-event"></i>
                <span>Calendario</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Recipes" asp-action="Index">
                <i class="bi bi-book"></i>
                <span>Recetas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="MemoryGame" asp-action="Index">
                <i class="bi bi-box-fill"></i>
                <span>Juego de Memoria</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Survey" asp-action="Index">
                <i class="bi bi-pie-chart"></i>
                <span>Encuestas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Stopwatch" asp-action="Index">
                <i class="bi bi-stopwatch"></i>
                <span>Cronómetro</span>
            </a>
        </li>

    </ul>

</aside>
