<h2>Juego de Memoria</h2>
<p>Selecciona la dificultad:</p>

<a asp-action="Play" asp-route-level="1" class="btn btn-primary">Fácil</a>
<a asp-action="Play" asp-route-level="2" class="btn btn-warning">Medio</a>
<a asp-action="Play" asp-route-level="3" class="btn btn-danger">Difícil</a>

